// styles/_variables.scss

// Tonalità principali
$primary-color: #b2967d;         
$secondary-color: #a18f7e;       
$accent-color: #e3dcd5;          
$section-beige: #f4ede8;
$section-softgray: #f2f3ef;
$section-almond: #ece9e1;
$footer-dark: #2e2c2b;


// Colori base
$background-light: #fefefe;
$background-muted: #f9f8f6;

$text-color: #2f2f2f;            
$text-muted: #666;
$heading-color: #1c1c1c;

// Typography
$primary-font-family: 'Inter Tight', sans-serif;
$heading-font-family: 'Playfair Display', serif; 
